.navigation.left
.swiper-container
    .swiper-wrapper
        .swiper-slide 
            h2 Information de consomation
        .swiper-slide 
            h2 Choix des catégories
            .tags
                .row
                    .col-xs-offset-4.col-xs-2
                        span.tag
                            img.cheap(alt="pas cher")
                    .col-xs-2
                        span.tag
                            img.quick(alt="rapide")
                .row
                    .col-xs-offset-4.col-xs-2
                        span.tag
                            img.orgnanic(alt="bio")
                    .col-xs-2
                        span.tag
                            img.light(alt="light")
        .swiper-slide 
            h2 Choix du prix
        .swiper-slide 
            h2 Choix de la recette
            .carts-recipes
        .swiper-slide.carts
            h2 Panier
            .products
            hr
            .btn.btn-primary.order Commander
            hr
            h2 Commandes en cours
            ul.carts.row
.navigation.right
