
.navigation.left
.swiper-container
    .swiper-wrapper
        .swiper-slide 
            h2 Informations de consommation
            .history
                #holder
        .swiper-slide 
            h2 Choix des catégories
            .tags
                .row
                    .col-xs-offset-4.col-xs-2
                        span.tag
                            img.cheap(alt="pas cher")
                    .col-xs-2
                        span.tag
                            img.quick(alt="rapide")
                .row
                    .col-xs-offset-4.col-xs-2
                        span.tag
                            img.organic(alt="bio")
                    .col-xs-2
                        span.tag
                            img.light(alt="light")
                .row
                    .col-xs-offset-4.col-xs-2
                        span.tag
                            img.vegetarian(alt="végétarien")
                    .col-xs-2
                        span.tag
                            img.sugar(alt="sucré")
            h2 Choix du prix
            form.price.row
                .form-group.col-xs-offset-4.col-xs-4
                    input#cart-price(class="form-control", 
                                     placeholder="Prix",
                                     required="required",
                                     value="10",
                                     name="price")
        .swiper-slide.carts
            .row
                div.choose-recipe.col-xs-6
                    h2 Choix de la recette
                    .carts-recipes
                div.choose-products.col-xs-6
                    h2 Panier
                    .products
            hr
            .btn.btn-primary.order Créer une liste de courses
            hr
            h2 Listes de courses
            ul.carts.row
.navigation.right
