#content
    div.header
        img(src="images/titre.png", alt="aliventaire", title="Aliventaire")
    div.menu
        div.row
            img(src="images/shop.png", alt="shop", title="Mes courses")
            img(src="images/fridge.png", alt="fridge", title="Mon placard")
        div.row
            img(src="images/cook.png", alt="cook", title="Ma cuisine")
            img(src="images/recipe.png", alt="recipe", title="Mes recettes")
