.kitchen
    .navigation.left
    .swiper-container
        .swiper-wrapper
            .swiper-slide 
                h2 Tickets de caisse
                #receipts
            .swiper-slide 
                h2 Recette à cuisiner
                #recipes-to-cook
    .navigation.right

