.kitchen
    .navigation.left
    .swiper-container
        .swiper-wrapper
            .swiper-slide 
                hr
                h2 
                    span Tickets de caisse
                    span.tooltips(data-toggle="tooltip",
                     data-placement="bottom",
                     title="Validez les tickets de caisse pour mettre les produits dans le placard ! Pour vous rendre sur la page des recettes à cuisiner, allez-y en cliquant sur les flèches roses")
                        span.glyphicon.glyphicon-question-sign
                hr
                #receipts
            .swiper-slide 
                hr
                h2 
                    span Recette à cuisiner
                    span.tooltips(data-toggle="tooltip",
                     data-placement="bottom",
                     title="Supprimez la recette de cette liste une fois qu'elle est cuisinée pour mettre à jour votre historique et votre placard ! Attention de bien vérifier le nombre de produits à supprimer du placard")
                        span.glyphicon.glyphicon-question-sign
                hr
                #recipes-to-cook
    .navigation.right

