.kitchen
    .navigation.left
    .swiper-container
        .swiper-wrapper
            .swiper-slide 
                h2 Tickets de caisse
                h3 Validez les tickets de caisse pour mettre les produits dans le frigo !
                #receipts
            .swiper-slide 
                h2 Recette à cuisiner
                h3 Validez les recettes à cuisiner pour enlever les produits du frigo !
                #recipes-to-cook
    .navigation.right

