.transaction.col-xs-3 #{date}
.receipt-id.col-xs-3(title="afficher le détail du ticket de caisse") #{receiptId}
.total.col-xs-3 #{total}
.validate.col-xs-3(title="valider")
    button.btn.btn-info
        span.glyphicon.glyphicon-check
