.kitchen
    .navigation.left
    .swiper-container
        .swiper-wrapper
            .swiper-slide 
                h2 Tickets de caisse
            .swiper-slide 
                h2 Recette à cuisiner
                ul.recipes
    .navigation.right

